<strong>
  Dear, {{ student }}
</strong>
<p>Please find your answer below.</p>
<p>
   <strong> Question Date:  </strong> {{createDate}}  <br/>
  <strong> Question: </strong>  {{question}}  <br/><br/>
  <strong> Answer Date:  </strong> {{answerDate}}  <br/>
  <strong> Answer: </strong> {{ answer }}  <br/>
</p>
